* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Inter, sans-serif;
    background-color: #FAFAF8;
}

/**
header box shadow code:
box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
*/

.header-cont {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-attachment: white;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06) ;

}

.header-cont > img {
  width: 50px;
}

.header-cont > h1 {
  font-weight: 400;
}

.main-cont {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.addForm {
  display: flex;
  gap: 2rem;
}


.addForm > input {
  padding: 1rem 4rem 1rem 0.5rem;
  text-align: left;
}

.addForm > button {
  padding: 1rem 3rem 1rem 0.5rem;
  font-size: 15px;
  text-align: center;
  background-color: black;
  color: white;

}

.addForm > button::before {
  content: "+";
  font-size: 1.2em;
  text-align: center;
}